[COMMON]
LONG_SESSION = 40
TEST_MODE = true

[RMQ]
HOST = 192.168.5.224
USER = ccaas
PORT = 5672
PASS = ENC(WZbNQLKih/AeVmfyRjgqRXSK0yGjCih7)
THREAD_SIZE = 10
QUEUE_CONSUMER_SIZE = 128
QUEUE_SENDER_SIZE = 128

LOCAL_QUEUE = T_MSGGW
AIWF_QUEUE = T_AIWF

[GRPC]
SERVER_IP = 127.0.0.1
SERVER_PORT = 6000
TARGET_IP = 127.0.0.1
TARGET_PORT = 5050
THREAD_SIZE = 10
QUEUE_CONSUMER_SIZE = 128
QUEUE_SENDER_SIZE = 128

[TIMEOUT]
HTTP_TIMEOUT = 3000

[AI]
CHATBOT_URL = http://192.168.5.224:8083
SEND_TYPE = 1
